@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iphone-background{
    background: linear-gradient(90.7deg, #211C24 0.64%, #211C24 101%);
}
.font-weight{
    font-weight: 20;
}
html, body {
    overflow-x: hidden;
}
.bigsummerDes{
    background-image: url('./assets/img/Big summer Sell Background Dekstop.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.bigsummerphone{
    background-image: url('./assets/img/bigsummer phone.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.bgblack{
    background-color: rgba(0, 0, 0 , 0.8);
}